@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix <input /> placeholder text */
::-webkit-input-placeholder,
::placeholder {
  color: #c2c2c2 !important;
  font-family: inherit;
  font-size: inherit;
  font-style: italic;
  opacity: 1;
}
